[Desktop Entry]
Type=Application
Name=ADMeshGUI
GenericName=STL viewer and manipulation tool
Comment=Tool for manipulation and repairs of STL files
Exec=admeshgui %F
Icon=admeshgui
Terminal=false
StartupNotify=true
Categories=Graphics;3DGraphics;
MimeType=text/plain;application/octet-stream;application/sla;
